* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: url("../media/background.png") no-repeat fixed center;
  background-size: 100%; }

header {
  box-shadow: 0px 10px 25px -4px rgba(0, 0, 0, 0.75);
  margin-bottom: 30px;
  width: 100%;
  font-family: "Bebas Neue", cursive;
  font-size: 1.2rem; }
  header .dropdown-menu {
    font-size: 1.1rem; }

.dropdown:hover > .dropdown-menu {
  display: block; }

.main {
  padding: 50px 100px 50px 100px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .main .texto {
    text-align: center; }
    .main .texto .bienvenido {
      font-family: "Bebas Neue", cursive;
      font-size: 1.6rem; }
    .main .texto .destacado {
      font-family: "Londrina Outline", cursive;
      font-size: 4.5rem;
      font-weight: bold;
      color: #03989E; }
    .main .texto .pincel img {
      width: 400px; }
  .main .fotoinicio img {
    margin-left: 50px;
    width: 450px;
    height: 300px;
    border-radius: 30px 30px 30px 30px; }

footer {
  margin-top: 30px;
  background-color: #FDD54F;
  padding: 30px 100px 30px 100px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  footer div {
    margin: 0px 10px 0px 10px; }
    footer div p {
      padding-top: 5px; }
    footer div img {
      width: 20px;
      height: 20px;
      margin: 10px; }

h1 {
  color: #03989E;
  font-family: "Bebas Neue", cursive;
  font-size: 1.6rem;
  margin-bottom: 20px; }

.productos div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center; }
  .productos div .fotoprod img {
    margin: 20px 0 20px 0;
    width: 250px;
    border-radius: 30px 30px 30px 30px; }
  .productos div .titulo {
    font-family: "Bebas Neue", cursive;
    color: #03989E;
    font-size: 1.4rem; }
  .productos div .descrip {
    font-family: "Open Sans", sans-serif; }
  .productos div .menu {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-evenly; }
    .productos div .menu ul li {
      list-style-type: none; }
    .productos div .menu p {
      font-family: "Bebas Neue", cursive;
      font-size: 1.3rem;
      color: #03989E; }

.nosotros p {
  font-family: "Open Sans", sans-serif; }

.nosotros .fotonosotros img {
  margin: 20px 0 20px 20px;
  width: 100%;
  border-radius: 30px 30px 30px 30px; }

.contacto .sucursal {
  margin: 20px 0 20px 0; }
  .contacto .sucursal .nombre {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-family: "Bebas Neue", cursive;
    background-color: #03989E;
    color: white;
    font-weight: bolder;
    font-size: 3rem;
    text-align: right;
    width: 15%; }
  .contacto .sucursal .datossucursal {
    width: 80%;
    padding-left: 20px; }

.novedades {
  font-family: "Open Sans", sans-serif; }
  .novedades .card-title {
    color: #03989E;
    font-weight: bold; }
