* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  font-family: "Bebas Neue", cursive;
  font-size: 1.2rem; }
  header .dropdown-menu {
    font-size: 1.1rem; }

.dropdown:hover > .dropdown-menu {
  display: block; }

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 150px 0 0 0; }
  .main .texto img {
    width: 100%; }
  .main .fotoinicio img {
    border-radius: 30px 30px 30px 30px; }

footer {
  margin-top: 30px;
  background-color: #FDD54F;
  padding: 30px 80px 30px 80px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center; }
  footer #footer__item {
    display: flex;
    flex-flow: row nowrap; }
    footer #footer__item div {
      margin-right: 5px; }

h1 {
  color: #03989E;
  font-family: "Bebas Neue", cursive;
  font-size: 1.6rem;
  margin-bottom: 20px; }

.galeria {
  margin: 30px 0 30px 0; }
  .galeria .galeria__item .galeria__item__titulo {
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;
    background-color: #FDD54F;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    height: 4rem;
    text-align: center; }
    .galeria .galeria__item .galeria__item__titulo a {
      font-family: "Londrina Outline", cursive;
      font-size: 1.5rem; }
  .galeria .galeria__item .galeria__item__foto {
    margin-bottom: 10px;
    width: 100%;
    height: 250px; }

.productos div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center; }
  .productos div .fotoprod img {
    margin: 20px 0 20px 0;
    width: 250px;
    border-radius: 30px 30px 30px 30px; }
  .productos div .titulo {
    font-family: "Bebas Neue", cursive;
    color: #03989E;
    font-size: 1.4rem; }
  .productos div .descrip {
    font-family: "Open Sans", sans-serif; }
  .productos div .menu {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: flex-start; }
    .productos div .menu .card .card-body .card-title {
      font-family: "Bebas Neue", cursive;
      font-size: 1.3rem;
      color: #03989E; }

.nosotros .nosotros__texto {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; }

.nosotros .nosotros__foto img {
  width: 100%;
  border-radius: 30px 30px 30px 30px; }

.contacto .sucursal {
  margin: 20px 0 20px 0; }
  .contacto .sucursal .nombre {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-family: "Bebas Neue", cursive;
    background-color: #03989E;
    color: white;
    font-weight: bolder;
    font-size: 2.4rem;
    text-align: right;
    width: 3.5rem;
    padding-top: 10px; }
  .contacto .sucursal .datossucursal {
    width: 80%;
    margin-left: 20px; }

.novedades {
  font-family: "Open Sans", sans-serif; }
  .novedades .card-title {
    color: #03989E;
    font-weight: bold; }
