*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//fuentes
$fuentedestacada: 'Londrina Outline', cursive;
$fuentetitulos: 'Bebas Neue', cursive;
$fuentebasica: 'Open Sans', sans-serif;

//colores
$colorturquesa: #03989E;
$coloramarillo: #FDD54F;


header{ 
    font-family: $fuentetitulos;
    font-size: 1.2rem;
  
}



.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 120px 0 0 0;
    font-family: $fuentebasica;

    .index__1{
        background-image: url('../media/fondos/1.png');
        height: 100%; 
        background-attachment: fixed;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        
        .texto-principal {
            font-family: 'Pacifico', cursive;
            color: white;
            width: 60%;
            text-align: center;
            padding: 20px 0 20px 0;
        }
    }
    

}

.index__2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px 0 20px 0;
    
    .productos-destacados{
        display: flex;
        justify-content: center;
        .productos-destacados__bombones{
            margin: 20px;
            border-radius: 200px;
            object-fit: cover;
            width: 200px;
            height: 200px;
            background-image: url(../media/bombones.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .productos-destacados__medialunas{
            margin: 20px;
            border-radius: 200px;
            object-fit: cover;
            width: 200px;
            height: 200px;
            background-image: url(../media/medialunas5.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .productos-destacados__sandwiches{
            margin: 20px;
            border-radius: 200px;
            object-fit: cover;
            width: 200px;
            height: 200px;
            background-image: url(../media/sandwiches2.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .productos-destacados__palmeritas{
            margin: 20px;
            border-radius: 200px;
            object-fit: cover;
            width: 200px;
            height: 200px;
            background-image: url(../media/palmeritas.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .productos-destacados__pan{
            margin: 20px;
            border-radius: 200px;
            object-fit: cover;
            width: 200px;
            height: 200px;
            background-image: url(../media/pan3.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .productos-destacados__torta{
            margin: 20px;
            border-radius: 200px;
            object-fit: cover;
            width: 200px;
            height: 200px;
            background-image: url(../media/Tortas.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    
}

.transparencia:hover{
    transition-duration: 1s;
    transform:scale(1.1);
    overflow:hidden;
}

@media (max-width: 576px) {
    .texto-principal{
        font-size: 3rem;
        align-self: center;
        color: grey;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .texto-principal{
        font-size: 3.5rem;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .texto-principal{
        font-size: 4rem;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .texto-principal{
        font-size: 5rem;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .texto-principal{
    font-size: 6rem;
    }
}

.harina{
    background-image: url('../media/harina.jpg');
    height: 200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $fuentetitulos;
}

.horno{
    background-image: url('../media/horno.jpeg');
    height: 200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $fuentetitulos;
}

.inicio-texto-separador{
    font-family: 'Pacifico', cursive;
    font-size: 1.3rem;
    text-align: center;
}

hr{
    border: 2px solid khaki; 
    height: 2px; 
    width: 100%;
    background-color: darkkhaki;
}

.promo-medialunas{
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    align-items: center;
    height: 200px;
    background-image: url(../media/medialunas3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.promo-porcion{
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    align-items: center;
    height: 200px;
    background-image: url(../media/tiramisu.png);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
}

.promo-bombones{
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    align-items: center;
    height: 200px;
    background-image: url(../media/bombones2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loquenosdiferencia{
    font-size: 1.2rem;
}

.diferencia{
    filter: grayscale(.9);
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    div{
        border: 1px solid black;
        border-radius: 50%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-self: center;
        p{
            width: 80px;
        }
    }
}
.diferencia:hover{
    color: $coloramarillo;
    filter: none;
    div{
        border: 1px solid $coloramarillo;
    }

}

.fondopanes{
    background-image: url('../media/fondo-panes.jpg');
    height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2.2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
}

footer{
    margin-top: 30px;
    background-color: $coloramarillo;
    padding: 30px 0 30px 0;
    font-family: $fuentebasica;
    font-size: 0.9rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    #footer__item{
        display: flex;
        flex-flow: column nowrap;
        justify-content: left;
        align-items: l;
        text-align: left;
        justify-items: left;
        div{
            display: flex;
            flex-flow: row nowrap;
            justify-items: left;
        }
    }
}

h1{
    color: $colorturquesa;
    font-family: $fuentetitulos;
    font-size: 1.6rem;
    margin-bottom: 20px;
}

h5{
    color: $colorturquesa;
}
// productos

.productos{
  
    div{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        .fotoprod img{
            margin: 20px 0 20px 0;
            width: 250px;
            border-radius: 30px 30px 30px 30px;
        }
        .titulo{
            font-family: $fuentetitulos;
            color: $colorturquesa;
            font-size: 1.4rem;
        }
        .descrip{
            font-family: $fuentebasica;
        }
        .menu{
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;
            align-items: flex-start;

            .card .card-body .card-title{
                font-family: $fuentetitulos;
                font-size: 1.3rem;
                color: $colorturquesa;
            
            } 
        }
    }
}

//nosotros

.nosotros{
    .nosotros__texto{
        font-family: $fuentebasica;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nosotros__foto img{
        width: 100%;
        border-radius: 30px 30px 30px 30px;
    }
    .horno__foto img{
        height: 400px;
        width: 300px;
        margin-bottom: 20px;
    }
}

.nosotros__horno{
    padding-top: 20px;
}

//contacto

.contacto{
    
    .sucursal{
        margin: 20px 0 20px 0;
        
        .sucursal__nombre{
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            font-family: $fuentetitulos;
            background-color: $colorturquesa;
            color: white;
            font-weight: bolder;
            font-size: 2.4rem;
            text-align: right;
            width: 10%;
            padding-top: 10px;
        }

       .sucursal__datos{
           width: 80%;
           margin-left: 20px;
       }
    }

    .formulario-contacto{
        background-color: $colorturquesa;
        padding: 5px;
        color: white;
        font-family: $fuentetitulos;
        font-size: 2.5rem;
    }
}

//novedades

.novedades{
    font-family: $fuentebasica;
    .card-title{
        color: $colorturquesa;
        font-weight: bold;
    }
    
}