*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//fuentes
$fuentedestacada: 'Londrina Outline', cursive;
$fuentetitulos: 'Bebas Neue', cursive;
$fuentebasica: 'Open Sans', sans-serif;

//colores
$colorturquesa: #03989E;
$coloramarillo: #FDD54F;


body{
    background: white;
    background-size: 100%;
}

header{ 
    box-shadow: 0px 10px 25px -4px rgba(0,0,0,0.75);
    margin-bottom: 30px;
    font-family: $fuentetitulos;
    font-size: 1.2rem;
    .dropdown-menu{
        font-size: 1.1rem;
    }
}

.dropdown:hover > .dropdown-menu {
    display: block; 
}

.main{
    padding: 50px 100px 50px 100px;
    
    .fotoinicio{
        img{
            width: 450px;
            height: 300px;
            border-radius: 30px 30px 30px 30px;
        }
    }
}


footer{
    margin-top: 30px;
    background-color: $coloramarillo;
    padding: 30px 100px 30px 100px;
    font-family: $fuentebasica;
    font-size: 0.9rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    div{
        margin: 0px 10px 0px 10px;

        p{
            padding-top: 5px;
        }
        img{
            width: 20px;
            height: 20px;
            margin: 10px;
        }
    }
}

h1{
    color: $colorturquesa;
    font-family: $fuentetitulos;
    font-size: 1.6rem;
    //font-weight: lighter;
    margin-bottom: 20px;
}

// productos

.productos{
  
    div{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        .fotoprod img{
            margin: 20px 0 20px 0;
            width: 250px;
            border-radius: 30px 30px 30px 30px;
        }
        .titulo{
            font-family: $fuentetitulos;
            color: $colorturquesa;
            font-size: 1.4rem;
        }
        .descrip{
            font-family: $fuentebasica;
        }
        .menu{
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;
            align-items: flex-start;

            .card .card-body .card-title{
                font-family: $fuentetitulos;
                font-size: 1.3rem;
                color: $colorturquesa;
            
            } 
        }
    }
}

//nosotros

.nosotros{
    p{
        font-family: $fuentebasica;
    }
    .fotonosotros img{
        margin: 20px 0 20px 20px;
        width: 100%;
        border-radius: 30px 30px 30px 30px;
    }
}

//contacto

.contacto{
    .sucursal{
        margin: 20px 0 20px 0;
        .nombre{
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            font-family: $fuentetitulos;
            background-color: $colorturquesa;
            color: white;
            font-weight: bolder;
            font-size: 2.4rem;
            text-align: right;
            width: 3.5rem;
            padding-top: 10px;
        }

       .datossucursal{
           width: 80%;
           padding-left: 20px;
       }
    }
}

//novedades

.novedades{
    font-family: $fuentebasica;
    .card-title{
        color: $colorturquesa;
        font-weight: bold;
    }
    
}